<h1><strong>Welcome to Node Financial</strong></h1>
<h1><i>Home of Professional Stock and Investment Sharing</i></h1>
<h1>An OpenShift Sails Experiment</h1>
<h1>Jeremiah Miller</h1>
<form action="/customer/" method="POST">
  <input type="submit" value="Let's get Started!" />
</form>

