<form action="/investment/create" method="POST" >
  <h2>Create a new Investment for <%= customer.name %> </h2>

  <input type="hidden" name="owner" value="<%- customer.id %>" />

  <input type="text" placeholder="Category" name="category" ><br/><br>
  <input type="text" placeholder="Description" name="description" ><br/><br>
  <input type="text" placeholder="Acquired Value" name="acquired_value" ><br/><br>
  <input type="text" placeholder="Acquired Date" name="acquired_date" ><br/><br>
  <input type="text" placeholder="Recent Value" name="recent_value" ><br/><br>
  <input type="text" placeholder="Recent Date" name="recent_date" ><br/><br>

  <input type="submit" value="Add investment" />
</form><br>
<form action="/customer/show/<%= customer.id %>" method="POST">
  <input type="submit" style="float:right" value="<-- Go Back   " />
</form>
