<form action="/customer/create" method="POST" >
  <h2>Create a Customer</h2>

  <input type="text" placeholder="Name" name="name" ><br/><br>
  <input type="text" placeholder="Street Address" name="street_address" ><br/><br>
  <input type="text" placeholder="City" name="city" ><br/><br>
  <input type="text" placeholder="State" name="state" ><br/><br>
  <input type="text" placeholder="Email" name="email" ><br/><br/><br>
  <input type="submit" value="Create Customer" />
</form>
<form action="/customer/" method="POST">
  <input type="submit" style="float:right" value="<--Go Back  " />
</form>
